<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.etakeawaymax.GrillZone" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GrillZone</name>
    <description>
      GrillZone
    </description>
    <author email="jyothish.jose@netventure.in" href="http://www.netventure.in">
        Mobile App Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
